html,
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-image: url(Lypay\ Background.svg);
  background-size: cover;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo{
  width: 60px;
  cursor: pointer;
  margin-left: 5%;
}

nav{
  flex: 1;
  padding-left: 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #0e0439;
}

.text h1{
  font-size: 40px;
  font-weight:bold;
  font-style:normal;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #000000;
}

.text p{
  font-size: 20px;
  color: #000000;
  margin-bottom: 40px;
}

.text{
  margin-left: 10%;
  margin-top: 10%;
}

.text .btn{
  background: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
